.form-control {
  font-size: 0.7rem;
}
.fontsize07 {
  font-size: 0.7rem;
}
.lignefixer{
  line-height: 17px;
}
.buttomfixer{
  line-height: 23px;
}

.withmontant{
  width: 105px;
  margin-left: 2px;
}
.withdate{
  width: 145px;
  margin-left: 2px;
}
.fontsize07 th{
  font-size: 0.7rem;
}
.fontsize07 td{
  font-size: 0.7rem;
}